<h2>Here you can make a post!</h2>
<br><br>
<form>
  <div name= "content" class="form-group">
    <label for="text">Enter your name</label>
    <input name="username" type="text" class="form-control" placeholder="Your name"><br><br>	
    <label for="text">Type your post</label>									
    <textarea class="form-control" rows="6" placeholder="Your text"></textarea><br>

  <button type="submit" class="btn btn-primary">Post</button>
</form>